VITE_SUPABASE_URL=  
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vZW55b2J6bW1taHFqcG9ldHN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MTAxNTYsImV4cCI6MjA5ODk4NjE1Nn0.UWesBbQ4alzqAEm7EChverIgbcYHbfe9pV4Gm-T_BaY